# Python
__pycache__/
*.py[cod]
*.so
.Python
.pytest_cache/
.venv/
venv/
*.egg-info/

# Secrets
.env
backend/.env
frontend/.env

# Large local data (not needed in repo)
*.pkl
backend/qdrant_db/
*.sqlite
*.joblib

# Logs
logs/
*.log

# IDE
.vscode/
.idea/z

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store